<div id="{{fileName}}">
    <table class="array-report method-table">
        <thead class="method-thead">
        <tr>
            <th class="method-name-column">{{fileName}}</th>
            {{#each metricValues}}
                {{#if this.isSelected}}
                    <th class="right bgwhite"><span class="selected">{{this.metricName}}</span></th>
                {{else}}
                    <th class="right bgwhite"><span class="not-selected">{{this.metricName}}</span></th>
                {{/if}}
                <th class="score">{{this.value}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody class="method-body">
        <tr class="code-row">
            <td>
                <pre>
                    <code class="language-js">
{{divCode.code}}</code>
                </pre>
            </td>
        </tr>
        </tbody>
    </table>
</div>
