<!doctype html>
<html lang="en">

<head>
    <title>Genese metrics report</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./templates/css/prettify.css" />
    <link rel="stylesheet" href="./templates/css/prism.css" />
    <link rel="stylesheet" href="./templates/css/report.css" />
    <link rel="stylesheet" href="./templates/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!--        -------------------------------------------------------------------------------------->
<!--        ---------------------------------------   Header   ----------------------------------->
<!--        -------------------------------------------------------------------------------------->


<div class="header">
    <div class="header-left">
        <div>
            <h1>Genese metrics report</h1>
        </div>
        <div class="pad1y">
            {{stats.subject}}
        </div>
        <div class="clearfix">
            <div class='fl pad1y space-right2'>
                <span>Code snippets : </span>
                <span class="strong">{{stats.numberOfCodeSnippets}}</span>
            </div>
        </div>
    </div>
    <div class="header-right">
    </div>
</div>

<!--        -------------------------------------------------------------------------------------->
<!--        -----------------------------------   Stats and charts   ----------------------------->
<!--        -------------------------------------------------------------------------------------->

<div class="mainContainer">
<!--    <div class="stats-and-charts">-->
<!--        <div class="stats-cognitive">-->
<!--            <div class="stats-and-doughnut stats-and-doughnut-cognitive">-->
<!--                <div class="doughnut">-->
<!--                    <canvas id="doughnut-cognitive-cpx" height="220"></canvas>-->
<!--                </div>-->
<!--                <div class="stats">-->
<!--                    <div class="clearfix">-->
<!--                        <div class='fl pad1y space-right2'>-->
<!--                            <span class="strong">Metric name</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="bar bar-cognitive">-->
<!--                <canvas id="bar-cognitive-cpx" class="cognitive-charts"></canvas>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

    <!--        -------------------------------------------------------------------------------------->
    <!--        -----------------------------------   Report arrays   -------------------------------->
    <!--        -------------------------------------------------------------------------------------->


    <div class="subfolders">
        <div class="clearfix cognitive-subtitle">
            <div class='fl pad1y space-right2'>
                <span class="strong">Code snippets <span class="italic">{{stats.subject}}</span></span>
            </div>
        </div>
        <table class="array-report short-table">
            <thead>
            <tr>
                <th style="width: 80%;">Code snippet</th>
                {{#if measure}}
                    <th style="width: 10%;">{{measure}}</th>
                {{/if}}
                {{#each metricSelects}}
                    {{#if this.isSelected}}
                        <th style="max-width: 10%;"><span class="selected">{{this.metricName}}</span></th>
                    {{else}}
                        <th style="max-width: 10%;"><span class="not-selected">{{this.metricName}}</span></th>
                    {{/if}}
                {{/each}}
            </tr>
            </thead>
            {{#each rowSnippets}}
                {{>rowSnippet rowSnippet=.}}
            {{/each}}
        </table>
    </div>


    <!--        -------------------------------------------------------------------------------------->
    <!--        -----------------------------------   Code snippets   -------------------------------->
    <!--        -------------------------------------------------------------------------------------->


    <div idclass="subfolders">
        <div id="methodsArray">
            {{#each divCodeMetrics}}
                {{>divCodeMetric divCodeMetric=.}}
            {{/each}}
        </div>
    </div>
</div>


<!--        -------------------------------------------------------------------------------------->
<!--        -----------------------------------   Scripts-----   --------------------------------->
<!--        -------------------------------------------------------------------------------------->



<script src="./templates/js/Chart.js"></script>
<script src="./templates/js/prism.js"></script>

</body>

</html>
