<!doctype html>
<html lang="en">

<head>
    <title>Genese metrics report</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./templates/css/prettify.css" />
    <link rel="stylesheet" href="./templates/css/prism.css" />
    <link rel="stylesheet" href="./templates/css/report.css" />
    <link rel="stylesheet" href="./templates/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!--        -------------------------------------------------------------------------------------->
<!--        ---------------------------------------   Header   ----------------------------------->
<!--        -------------------------------------------------------------------------------------->


<div class="header">
    <div class="header-left">
        <div>
            <h1>Genese metrics report</h1>
        </div>
        <div class="pad1y"></div>
        <div class="clearfix">
            <div class='fl pad1y space-right2'>
<!--                <span>Code snippets : </span>-->
                <span class="strong">{{numberOfCodeSnippets}}</span>
            </div>
        </div>
    </div>
    <div class="header-right">
    </div>
</div>

<div class="mainContainer">

    <!--        -------------------------------------------------------------------------------------->
    <!--        ----------------------------------------   Charts   ---------------------------------->
    <!--        -------------------------------------------------------------------------------------->

    <div class="stats-and-charts">

        <div class="div-chart-left">
            {{>chart charLeft=.}}
        </div>

        <div class="div-chart-right">
        </div>
    </div>

    <!--        -------------------------------------------------------------------------------------->
    <!--        -----------------------------   Div Correlation table   ------------------------------>
    <!--        -------------------------------------------------------------------------------------->

    <div class="subfolders">
        <div class="clearfix cognitive-subtitle">
            <div class='fl pad1y space-right2'>
                <span class="strong">Correlations</span>
            </div>
        </div>
        <table class="array-report short-table">
            <thead>
            <tr>
                <th style="width: 80%;">Correlation</th>
                {{#each metricSelects}}
                    {{#if this.isSelected}}
                        <th style="max-width: 10%;"><span id="array-{{this.metricName}}" class="selected" onclick="selectAll('{{this.metricName}}', {{this.metricNamesArray}}, {{this.codeSnippetNamesArray}})">{{this.metricName}}</span></th>
                    {{else}}
                        <th style="max-width: 10%;"><span id="array-{{this.metricName}}" class="not-selected zzz" onclick="selectAll('{{this.metricName}}', {{this.metricNamesArray}}, {{this.codeSnippetNamesArray}})">{{this.metricName}}</span></th>
                    {{/if}}
                {{/each}}
            </tr>
            </thead>
            {{#each correlations}}
                {{>correlation correlation=.}}
            {{/each}}
        </table>
    </div>


    <!--        -------------------------------------------------------------------------------------->
    <!--        ----------------------------   Div Code snippets table   ----------------------------->
    <!--        -------------------------------------------------------------------------------------->

    <div class="subfolders">
        <div class="clearfix cognitive-subtitle">
            <div class='fl pad1y space-right2'>
                <span class="strong">Code snippets</span>
            </div>
        </div>
        <table class="array-report short-table">
            <thead>
            <tr>
                <th style="width: 80%;">Code snippet</th>
                {{#if measure}}
                    <th style="width: 10%;">{{measure}}</th>
                {{/if}}
                {{#each metricSelects}}
                    {{#if this.isSelected}}
                        <th style="max-width: 10%;"><span id="array-{{this.metricName}}" class="selected" onclick="selectAll('{{this.metricName}}', {{this.metricNamesArray}}, {{this.codeSnippetNamesArray}})">{{this.metricName}}</span></th>
                    {{else}}
                        <th style="max-width: 10%;"><span id="array-{{this.metricName}}" class="not-selected zzz" onclick="selectAll('{{this.metricName}}', {{this.metricNamesArray}}, {{this.codeSnippetNamesArray}})">{{this.metricName}}</span></th>
                    {{/if}}
                {{/each}}
            </tr>
            </thead>
            {{#each rowSnippets}}
                {{>rowSnippet rowSnippet=.}}
            {{/each}}
        </table>
    </div>


    <!--        -------------------------------------------------------------------------------------->
    <!--        ------------------------------------   Code details   -------------------------------->
    <!--        -------------------------------------------------------------------------------------->


    <div idclass="subfolders">
        <div id="methodsArray">
            {{#each codeSnippetsTable}}
                {{>codeSnippetRow codeSnippetRow=.}}
            {{/each}}
        </div>
    </div>
</div>


    <!--        -------------------------------------------------------------------------------------------->
    <!--        -----------------------------------------   Scripts   -------------------------------------->
    <!--        -------------------------------------------------------------------------------------------->



<script src="./templates/js/Chart.js"></script>
<script src="./templates/js/prism.js"></script>
<script src="./templates/js/report-scripts.js"></script>

</body>

</html>
